body {
  font-family: "SF Pro Display";
  width: 1920px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  gap: 30px;
}

/* Contact-form */

.form {
  display: flex;
  flex-direction: column;
  padding-top: 1.9rem;
  box-shadow: 2px 2px 50px 2px rgba(130, 41, 224, 0.15);
  border-radius: 8px;
}
.form input,
select {
  border: 1px solid #444444;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  padding: 14px;
  margin-left: 55px;
  margin-right: 56px;
  margin-bottom: 46px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.form label {
  margin-left: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #444444;
}
option {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-transform: capitalize;

  color: #444444;
}
.banner {
  box-shadow: 2px 2px 50px 2px rgba(130, 41, 224, 0.25);
  border-radius: 8px;
}
.product {
  box-shadow: 2px 2px 50px 2px rgba(130, 41, 224, 0.15);
  border-radius: 8px;
}
.product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 44px;
  margin-right: 70px;
}
.product-details p {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}
.amount-font {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  color: #8229e0;
}
.hr-line {
  width: 834px;
  height: 0px;
  left: 18px;
  top: 215px;
  border: 0.5px solid #444444;
}
.hr-line2 {
  width: 1770px;
  left: 75px;
  top: 1889px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid #444444;
}
.program {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #444444;
}
button {
  width: 480px;
  height: 60px;
  left: 195px;
  top: 439px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  background: #8229e0;
  box-shadow: 0px 4px 20px 10px rgba(130, 41, 224, 0.2);
  border: 1px solid #8229e0;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 36px;
}
.img-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.img-card div {
  margin-bottom: 36px;
}

/* review section */

.review-section {
  width: 1770px;
  margin-left: auto;
  margin-right: auto;
}

/* people reviews */

.people-review {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.review {
  background: #ffffff;
  box-shadow: 2px 2px 50px 2px rgba(130, 41, 224, 0.15);
  border-radius: 4px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 16px;
}
.review p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #444444;
}
.review h3 {
  color: #444444;
  text-align: center;
}

/* Responsive for mobile device */
@media only screen and (max-width: 688px) {
  body {
    width: 750px;
    margin: 2rem;
  }
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .contact-section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .review-section {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  .people-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hr-line2 {
    width: 750px;
  }
}
